@import "../../responsive.scss";

.searchbar{
    .type{
        
       button{
        
        padding: 16px 40px;
        //border: 1px solid gray;
        border-bottom: none;
        cursor: pointer;
        background-color: white ;
        text-transform: capitalize;
        

        &.active{
            background-color: black;
            color: white;
        }

        &:first-child{
            border-top-left-radius: 5px;
            border-right: none;

            @include sm{
                margin-bottom: 1ps solid gray;
            }
        }
        &:last-child{
            border-top-right-radius: 5px;
            border-left: none;
        }

       }
    }

    form{
        //border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        height: 55px;

        @include sm{
            flex-direction: column;
        }

        input{
            padding: 0px 10px;
            width: 160px;

            @include lg{
                padding: 0px 5px;
                &:nth-child(2),&:nth-child(3){
                    width: 160px;
                }
            }
            @include md{
                width: auto ;
                height: 55px;
                &:nth-child(2),&:nth-child(3){
                    width: auto;
                }
            }

            @include sm{
                padding: 20px;
            }
        }

        button{
            background-color:#F6CB64;
            flex:1 ;
            img{
                height: 40px;
                width: 40px;
                align-items: center;
                //padding-bottom: 10px;
            }
        }
        
    }


}