@import '../../responsive.scss';

nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-size: 15px;
    
    a{
        transition: all 0.4s ease;
        color: black;
        text-decoration: none;
        font-weight: bold;
        @include sm{
            display: none;
        }
        
        &:hover{
            scale: 1.09;
        }
    }

    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 40px;
        
        .logo{
             font-weight: bold;
             font-size: 15px;
             display: flex;
             gap: 5px;
             align-items: center;

             img{
                width: 50px;
             }

             span{
                @include md{
                    display: none;
                }

                @include sm{
                    display: initial;
                }
             }
        }
    }

    .right{
        flex: 2;
        display: flex;
        background-color: rgb(181, 222, 255);
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        

        @include md{
            background-color: transparent;
        }

        a{
            padding: 12px 24px ;
            margin: 20px;
        }

        .user{
            display: flex;
            align-items: center;
            font-weight: bold;
            
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }

            span{
                @include sm{
                    display: none;
                }
            }

            .profile{
                padding: 12px 24px;
                background-color: rgb(255, 191, 0);
                cursor: pointer;
                border: none;
                position: relative;

                .notification{
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

            }


        }

        .register{
            background-color: rgb(255, 191, 0);
        }

        .menuicon{
            display: none;
            z-index: 999;

            img{
                width: 35px;
                height: 35px;
                cursor: pointer;
            }

            @include sm{
                display: inline;
            }
        }
        
        .menu{
            position: fixed;
            top: 0;
            right: -50%;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            transition: all 0.9s ease;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            &.active{
                right: 0;
            }
            

            @include sm{
                a{
                    display: initial;
                }
            }
        }
    }
}